{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="d-flex vh-100 mt-3">
  <div class="col">
    <div class="bg-white shadow-sm p-3 w-100 m-0 mb-2" style="margin: 10px; border-radius: 10px; height: 80vh;">
      <h3 style="font-size: 20px; margin: 0">Chatbot Files</h3>
      <hr class="m-0 mb-2 mt-2"></hr>
       {% if files %}
       {% for file in files %}
        <div class="list-group-item">{{ file.original_filename }}</div>
        {% endfor %}
        {% else %}
        <p>no files</p>

        {% endif %}
    </div>

    <div class="bg-white shadow-sm pl-2 pr-2 pt-1" style="border-radius: 10px; height: 50px;">
        <form
        method="POST"
        enctype="multipart/form-data"
        style="margin-bottom: 30px; display: flex; justify-content: space-between;"
      >
        <input type="file" , name="file-to-save" class="mt-1"/>
        <button type="submit" class="btn btn-primary">Add File</button>
      </form>

    </div>
  </div>

  <div class="col">
    
    <div class="bg-white shadow-sm p-3 w-100 m-0 mb-2" style="margin: 10px; border-radius: 10px; height: 80vh;">
      <form action="/createdb" method="post">
        <button class="btn btn-primary" type="submit">Create Database</button>
      </form>
        <h3 style="font-size: 20px; margin: 0">Test Chatbot</h3>
        <hr class="m-0 mb-2 mt-2"></hr>
        {% if llm_response %}{{llm_response}}{% endif %}

    </div>
      <form action="/querydb" method="post">
        <div class="bg-white shadow-sm p-2" style="border-radius: 10px; height: 50px;">
          <input type="text" id="query_text" name="query_text" style="width: 86%; height: 100%; border-radius: 10px; border: 1px solid gray">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}
